<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Медицинская Система</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Медицинская Система</h1>
        <div class="buttons">
            <a href="/doctor_login" class="button">Я врач</a>
            <a href="/patient_login" class="button">Я пациент</a>
        </div>
    </div>
</body>
</html>
