<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация врача</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Регистрация врача</h1>
        <form action="/register_doctor" method="post">
            <label for="doctor_id">ID врача:</label><br>
            <input type="text" id="doctor_id" name="doctor_id" required>
            <label for="doctor_password">Пароль:</label>
            <input type="password" id="doctor_password" name="doctor_password" required>
            <input type="submit" value="Зарегистрироваться">
        </form>
        <p>Уже есть аккаунт? <a href="/doctor_login">Войти</a></p>
    </div>
</body>
</html>
